/* General CSS*/
body {
  padding-bottom:0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  min-height: 92%;
  overflow: hidden;
  padding-top: 65px;
}

.content {
  width: 1060px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  overflow:hidden;
  padding-bottom: 60px;
}

.navcontainer ul {
  width: 1060px;
}

.floatright {
  float: right;
}

.navcontainer {
  height: 60px;
  width: 100%;
  border-bottom: 3px solid #8eb5f2;
  margin: 0;
  padding: 0;
  top: 0;
    z-index: 1;
  background-color: #FFFFFF;
  position: fixed;
}

#navright {
  float: right;
}

.navcontent {
  width: 1060px;
  display: block;
  margin: 0 auto;
}

.navlogo{
  width: 20px;
  height: 20px;
}

.navcontainer ul {
  margin: 0;
  padding: 0;
  top: 0;
  background-color: #FFFFFF;
  position: fixed;
  list-style-type: none;
}

.navcontainer li {
  float: left;
  border-top: 3px solid white;
}

.navcontainer li a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.navcontainer .activenav {
  border-top: 3px solid #8eb5f2;
}

li a:hover {
  color: #8eb5f2;
}

footer a {
  text-decoration: none;
  color: #8eb5f2;
}

footer {
  margin-top: -60px;
  height: 60px;
  padding: 10px;
  padding-bottom: 1px;
  position:absolute;
/*  border-top: 3px solid #DA4453;*/
  width:100%;
  height:60px;
  clear:both;
}
.sidebar{
  float: left;
  width: 25%;
  padding-right: 20px;
}
.mainbar{
  float: right;
  width: 70%;
}
.mainbar img{
  width: 70%;
  border-radius: 50px;
  display: block;
    margin-left: auto;
    margin-right: auto
}
.mainbar h2{
  text-align: center;
}
h3{
  text-align: center;
}
.sidebarcontent{
  margin-right: 20px;
}
.buttonssidebar{
  margin-top: 23.4px;
  margin-bottom: 20px;
}

.buttonssidebar .button {
  border: none;
  background-color: white;
  color: #8eb5f2;
  text-align: center;
  cursor: pointer;
  font-size: 150%;
  padding: 8px 16px;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-right: 0px;
  width: 100%;
}
.buttonssidebar .button:hover{
  background-color: #8eb5f2;
  color: white;
}
.login{
  text-align: center;
}
